<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.example.buoi1_hello.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Poem</servlet-name>
        <servlet-class>com.example.buoi2_chuyen_trang.PoemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Poem</servlet-name>
        <url-pattern>/poem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>send-direct</servlet-name>
        <servlet-class>com.example.buoi2_chuyen_trang.SendDirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>send-direct</servlet-name>
        <url-pattern>/send-redirect</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ParamServlet</servlet-name>
        <servlet-class>com.example.buoi4_param.ParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParamServlet</servlet-name>
        <url-pattern>/param</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SendParamServlet</servlet-name>
        <servlet-class>com.example.buoi4_param.SendParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendParamServlet</servlet-name>
        <url-pattern>/send-param</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SequenceServlet</servlet-name>
        <servlet-class>com.example.buoi4_param.SequenceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SequenceServlet</servlet-name>
        <url-pattern>/sequence</url-pattern>
    </servlet-mapping>

</web-app>